@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    display: flex;
    flex-wrap: wrap;
    max-width: 75rem;
    background-color: #DCE1E3;
    margin: 0 auto;
}
header{
    flex:100%;
    text-align: center;
    position: relative;
    height:120px;
    
   }
header h1{
    color:#B73225;
    font-family: 'Anton', sans-serif;
}
header::before{
    content: '';
    background-image: url(kep.jpg)  ;
    background-size: contain;
    position: absolute;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    right: 0;
    height: 120px;
    z-index: -1;
}
footer{
    flex:100%;
    margin-top: 5px;
    border-top: 1px solid #B73225;
}
@media screen and (min-width:600px) {    
main,nav{
    flex:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
nav > a{
    width: 180px;
    margin:0 auto;/*középre helyez, elosztva egyenletesen a fennmaradó szabad helyet*/
}                             
}
@media screen and (max-width:599px) {     
    main,nav{
        flex:100%;
        display: flex;
        flex-direction: column;
       
    }                            
}
nav{
    padding:5px;
    border-bottom: 1px solid #B73225;
}
nav a{
    flex:auto;/*kitölti az összes rendelkezésre álló helyet*/
    text-align: center;
    padding:5px 1px;
    background-color: #B73225;
    border: 1px solid  white;
    border-radius: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    cursor:pointer;
    color:white;
}
section{
    flex: 1 1 calc(33% - 6px);
    padding: 2px;
    margin-top: 3px;
    border:1px solid white;
    text-align: center;
   /*azért kell, h az utolsó felx item-et a doboz aljára lehessen helyezni-*/
   display: flex;
   flex-flow: column wrap;/* a rövidebb formája a flex-direction és flex-wrap -nak*/
}

h1 {
    color:white;
}
section>a{
   margin-top: auto;/*az utolsó elem a doboz aljára kerül*/
   margin-bottom: 5px;
    text-decoration: none;
    padding: 3px;
    border:1px solid #B73225;
    border-radius: 25px;
    width:50%;
    align-self: center;
    color:#B73225;
    font-family: 'Anton', sans-serif;
}
section>div{
    border:1px solid white;
    width: 100%;
    display:flex;
}
img{
    width: 100%;
}
a[target="_blank"]:after{/*tesztelni: after helyett before*/
    display:inline-block;
    content:url(externallink.svg);
    width: 15px;
    height: 15px;
    padding-left: 2px;
}